
@function test ($value) {
  $delta: $value + 1;

  @if ($value == 0) {
    @return 0;
  } @else if ($value == 1) {
    @return 10;
  } @else {
    @return $delta;
  }
}

@mixin test-each ($items) {
  @each $i in $items {
    .item-#{$i} {
      width: 2em * $i;
    }
  }
}

@for $i from 1 through 3 {
  .item-#{$i} {
    width: 2em * $i;
  }
}
