p {
  a {
    display: flex;
  }
}

* {
  box-sizing: border-box;
}

.max .compound .selectors {
  width: 150px;
}

#widget .detail .elem {
  visibility: hidden;
}

div.class input label {
  float: left;
}

[target='_blank'] {
  display: none;
}

.element {
  position: relative;

  .nested {
    position: absolute;
  }
}
