.without-nested-declarations {
  margin-top: 10px;
  margin-bottom: 5px;
}

.without-empty-line {
  display: block;
  width: 100px;
  height: 100px;
  color: rgb(15, 123, 13);
  background: rgba(35, 23, 113, 0.5);
  font-weight: 900;
  font-size: inherit;
  font-family: inherit;
}
